<childsection name="setup00">
    <h1 class="display-6">Child Section Before Partial</h1>
    <p>This <code>&lt;childsection&gt;&lt;/childsection&gt;</code> is rendered before the call to process _ChildSectionSetUp.cshtml partial view</p>
</childsection>

<childsection name="setup01">
    <h1 class="display-6">Child Section 1</h1>
    <p>1. First childsection in the partial view</p>
</childsection>

<childsection name="setup02">
    <h1 class="display-6">Child Section 2</h1>
    <p>2. Second childsection in the partial view</p>
</childsection>

<childsection name="setup03">
    <h1 class="display-6">Child Section 3</h1>
    <p>3. Third childsection in the partial view</p>
</childsection>

<childsection name="setup04">
    <h1 class="display-6">Child Section 4</h1>
    <p>4. Fourth childsection in the partial view</p>
</childsection>

